<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <title>BF Manager</title>
</head> 
<body>

    <div class="ui fixed inverted menu">
        <a href="/" class="header item">BabyFoot Manager</a>
    </div>

    <div class="ui main container">

        <br>
        <br>
        <br>

        <% if(locals.flash && locals.flash.error) { %>
        <div class="ui negative message">
            <%= flash.error %>
        </div>
        <% } %>

        <br>
        <br>
        <br>

        <form action="/" method="POST" class="ui grid">
            <div class="field">
                <label for="newgame"></label>
                <textarea name="newgame" id="newgame" placeholder="Nouvelle partie" cols="30" rows="2"></textarea>
            </div>
        
            <button type="submit" class="ui blue labeled submit icon button">
                <i class="icon add"></i>Ajouter
            </button>
        </form>

        <div class="ui hidden divider"></div>

        <div class="ui comments">
            <h3 class="ui dividing header">Parties :</h3>
            <br>
            <h3 class="ui header">Parties en cours :</h3>
            <br>
            <% for (i=0; i<parties.length; i++) { %>
                <div class="ui grid">

                    <form action="/" method="POST" class="checkbox">
                        <input type="hidden" name="idcheck" id="idcheck">
                        <input type="checkbox" class="checks" value="OK"></input>
                    </form>

                    <div class="test"><%= parties[i] %></div>

                    <form action="/" method="POST" class="delete">
                        <input type="hidden" name="id" id="id" value="<%= id[i] %>">
                        <button type="submit" class="ui red delete button" name="id" id="id">
                        <i class="icon delete"></i>
                        </button>
                    </form>
                </div>

                <div class="ui hidden divider"></div>
                <br>
            <% } %>

            <div class="ui section divider"></div>

            <h3 class="ui header">Parties terminées :</h3>



        </div>
        
    </div>
    
</body>
</html>